<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/main.css")
        
        title Document
              
    body
      .container
        .container__wrapper
            .section1
              .section1--left
                include parth1/index1.pug
              .section1--right
                include parth2/index2.pug
            .section2
              .section2--left
                include parth3/index3.pug
              .section1--right
                include parth4/index4.pug


           


